<template>
  <v-card class="mx-auto" max-width="400">
    <v-img
      class="white--text align-end"
      height="200px"
      src="https://via.placeholder.com/400"
    >
    </v-img>
    <v-card-title>{{ article.title }}</v-card-title>

    <v-card-text class="text--primary">
      <div>{{ article.description }}</div>
      <div class="grey--text">{{ article.date | showDate }}</div>
    </v-card-text>

    <v-card-actions v-if="show_view_btn">
      <v-btn @click="$router.push(`/article/${article.id}`)" color="primary">
        View
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  name: "Article",
  props: {
    article: {
      required: true,
      type: Object,
    },
    show_view_btn: {
      type: Boolean,
      default: true,
    },
  },
  filters: {
    showDate: function (value) {
      if (!value) {
        return;
      }
      let date = new Date(parseInt(value));
      return `${date.getDate()}/${date.getMonth()}/${date.getFullYear()}`;
    },
  },
};
</script>
