<template>
  <v-app>
    <v-app-bar fixed app>
      <v-btn v-if="!isHomePage" @click="$router.back()" icon
        ><v-icon> mdi-arrow-left </v-icon></v-btn
      >
      <v-toolbar-title v-text="title" />
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer absolute app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "DefaultLayout",
  data() {
    return {
      title: "Compare Club",
    };
  },
  computed: {
    isHomePage: function () {
      return this.$route.path == "/";
    },
  },
};
</script>
