<template>
  <v-row>
    <v-col>
      <Article :article="article" :show_view_btn="false" />
    </v-col>
  </v-row>
</template>

<script>
import articlesJson from "@/static/articles.json";
import Article from "@/components/Article";

export default {
  name: "ArticlePage",
  data() {
    return {
      article_id: this.$route.params.article,
    };
  },
  components: { Article },
  computed: {
    article() {
      return articlesJson.find((item) => {
        return item.id == this.article_id;
      });
    },
  },
};
</script>
