<template>
  <v-row justify="center" align="center">
    <v-col lg="5" md="12" sm="12" class="mb-0">
      <v-select
        label="Order by"
        :items="DEFINES.FILTER_ARTICLES"
        outlined
        v-model="filter"
        @change="onChange"
      ></v-select>
    </v-col>
    <template v-for="article in articles">
      <v-col cols="12" sm="8" md="12" :key="article.id">
        <Article :article="article" :show_view_more="true" />
      </v-col>
    </template>
  </v-row>
</template>

<script>
import articlesJson from "@/static/articles.json";
import { DEFINES } from "@/defines";
import Article from "@/components/Article";
export default {
  name: "IndexPage",
  data() {
    return {
      articles: articlesJson,
      filter: 1,
      DEFINES,
    };
  },
  components: { Article },

  methods: {
    onChange() {
      switch (this.filter) {
        case DEFINES.PUBLISHED_ARTICLE:
          this.articles = articlesJson.filter((item) => {
            return item.status == "Published" && Date.now() > item.date;
          });
          break;
        case DEFINES.UNPUBLISHED_ARTICLE:
          this.articles = articlesJson.filter((item) => {
            return item.status == "Unpublished";
          });
          break;
        case DEFINES.FUTURE_ARTICLE:
          this.articles = articlesJson.filter((item) => {
            return item.status == "Published" && Date.now() < item.date;
          });
          break;
        default:
          this.articles = articlesJson;
      }
    },
  },
};
</script>
